@import '../../../App.scss';
.searchProductList {
  position: absolute;
  background-color: azure;
  right: 590px;
  top: 60px;

  @media (max-width: 870px) {
    right: 15px;
    top: 55px;
  }

  div {
    padding: 5px;
    &:hover {
      background-color: $secondary;
    }
    p {
      z-index: 200;
      cursor: pointer;
      padding: 5px;
    }
  }
}
