@import '../../App.scss';

.profileSection {
  margin: auto auto;
}

.profileHead {
  font-size: 16px;
}

.profileHead:nth-child(1) {
  margin-bottom: 10px;
}

.personalWrap {
  max-width: 1280px;
  padding: 15px;
  border-bottom: 1px solid $backgroundVariant;

  .personal {
    display: flex;
    justify-content: space-between;

    &_label {
      width: 150px;
      padding: 3px 6px;
      text-transform: uppercase;
    }

    &_value {
      padding: 3px 6px;
    }
  }
}

.addressesWrap {
  padding: 15px;

  .address {
    margin: 10px auto;
    display: flex;
    flex-direction: column;

    &_line {
      display: flex;
      justify-content: space-between;
    }

    &_label,
    &_value {
      padding: 3px 6px;
    }

    &_label {
      text-transform: uppercase;
    }

    .default_address {
      font-size: 10px;
      color: #f31c1c;
    }
  }

  .noAddress {
    text-align: center;
    font-size: 20px;
  }
}
