.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vw;

  @media (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2;
    > *:nth-child(9) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
