@import '../../App.scss';
.select {
  width: 230px;
}
.custom-select {
  &__control {
    width: 230px !important;
    // width: 100% !important;
    height: 56px !important;
    border-radius: 0px !important;
    border: 1px solid black !important;
    &--menu-is-open,
    &--is-focused {
      box-shadow: 0 0 0 1px gray !important;
    }
  }

  &__value-container {
    padding-left: 35px !important;
    cursor: text !important;
  }

  &__option {
    cursor: pointer !important;
    // background-color: $primary !important;
    // color: $onPrimary !important;
    &--is-focused {
      background-color: $primary !important;
      color: $onPrimary !important;
    }
    // &:hover{
    //     background-color: $primary !important;
    //       color: $onPrimary !important;
    // }
    &--is-selected {
      background-color: $primary !important;
    }
  }
}

@media (max-width: 603px) {
  .select {
    width: 100%;
  }
  .custom-select {
    &__control {
      width: 100% !important;

      height: 56px !important;
      border-radius: 0px !important;
      border: 1px solid black !important;
      &--menu-is-open,
      &--is-focused {
        box-shadow: 0 0 0 1px gray !important;
      }
    }
  }
}
