#react-select-1-input,
#react-select-2-input,
#react-select-3-input,
#react-select-4-input,
#react-select-5-input {
    border: none;
    outline: none;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }



