@import '../../../App.scss';

.heroCont {
  .heroWrap {
    margin-right: auto;
    display: flex;
    justify-content: center;

    @media (max-width: 870px) {
      flex-direction: column;
    }

    .heroImgDiv {
      width: 628px;
      max-width: 628px;
      height: 628px;
      background: url('../../../assets/img/hero.jpg') no-repeat center / cover;
      display: flex;
      flex-direction: column;

      @media (max-width: 870px) {
        width: 100%;
        max-width: none;
        height: 392px;
      }

      .hero_promo {
        background: $background;
        max-width: 70%;
        padding: 8px;
        margin-top: 35px;
        font-weight: 500;

        .promo_span {
          color: $secondary;
          font-weight: 600;
        }

        &.first_promo {
          margin-top: 10px;
          text-align: center;
          margin-left: 10px;
          border-radius: 5px;
          opacity: 0.85;
        }

        &.second_promo {
          align-self: flex-end;
          margin: auto 10px 10px 0;
          border-radius: 5px;
          opacity: 0.85;
        }
      }
    }

    .heroDisc {
      max-width: 576px;
      padding: 136px 0 136px 120px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (max-width: 980px) {
        padding: 16px;
        justify-content: center;
      }

      @media (max-width: 500px) {
        gap: 16px;
      }

      &_h1 {
        font-family: $fontSecondary;
        font-weight: 400;
        line-height: 122%;
      }

      &_text {
        max-width: 456px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
      }

      &_link {
        width: 263px;
      }
    }
  }
}
