@import '../../App.scss';

.rssWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1280px;
  margin: 30px auto;
  background-color: #ffda1f;
  border-radius: 25px;

  .rssLogo {
    &_link {
      display: block;
      width: 150px;
      height: 150px;
      background: url('../../assets/svg/rs_school_js.svg') center / contain no-repeat;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.2) rotate(16deg);
      }
    }
  }

  .rssDisc {
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    max-width: 450px;
  }

  .rssTeam {
    width: 278px;
    height: 250px;
    background: url('../../assets/svg/rs_school_team.svg') center / contain no-repeat;
  }
}

.developerWrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .developer:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.developer {
  display: flex;
  justify-content: center;
  padding: 20px;

  &_photo {
    width: 200px;
    height: 200px;

    &__img {
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }
  }

  &_info {
    padding: 15px;
    max-width: 60%;

    &__name,
    &__location,
    &__about {
      padding: 3px;
    }

    &__name {
      font-family: $fontPrimary;
      color: $primary;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      text-align: left;
      border: none;
      background-color: transparent;
      transition: all 0.2s ease-in;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }

      &:disabled {
        background-color: inherit;
        color: $outline;
        cursor: auto;
        user-select: none;
        pointer-events: none;
      }
    }

    &__subText {
      font-size: 12px;
      position: relative;
      transform: translate(15px);
    }

    .subText_location::after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      left: -14px;
      background: url('../../assets/svg/icon-location.svg') center / contain no-repeat;
    }

    .subText_role::after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      left: -14px;
      background: url('../../assets/svg/icon-person.svg') center / contain no-repeat;
    }
  }
}

.contribution {
  max-width: 1280px;
  padding: 16px;
  margin: 32px auto;
  background-color: $backgroundVariant;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;

  .contribution_img {
    width: 200px;
    height: 200px;
    background: url('../../assets/svg/rs_school_contr.svg') center / contain no-repeat;
  }

  .contribution_block {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
